bcrypt
cryptography
email-validator
fastapi
passlib
pydantic
pydantic_core
PyJWT
SQLAlchemy
python-dotenv
uvicorn
python-multipart
SQLAlchemy
nylas
google-generativeai
langchain-community
langchain-google-genai
pytz
apscheduler